body {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;

    background: #BBD2C5;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #292E49, #536976, #BBD2C5);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #292E49, #536976, #BBD2C5);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

header {
    background-color: #fff;
    padding: 0px;
    margin: 0;
    border-bottom: 1px solid #ccc;
}


/* Responsive */
@media (max-width: 768px) {
    footer {
        margin-top: 0px;
    }
}

.justificar{
    text-align: justify;
}

.contCand {
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.519);
}

.contCand2 {
    width: 90%;
    align-items: center;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.519);
}

#imgLogo {
    padding: 10px;
    margin: 0;
    width: 400px;
}

.imgsCand {
    width: 300px;
    height: 300px;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}